.add-review h2 {
  margin-block-start: 0;
}
.add-review form {
  padding-inline-end: 15px;
}
.add-review
  div:not(.rating-radio-buttons-container, .rating-dynamic-cmp-container) {
  display: flex;
  align-items: center;
  margin-block-end: 5px;
}
.add-review label:has(h3) {
  width: 130px;
  margin-block-end: 5px;
}
.add-review input:not([type="radio"]),
.rating-inputs-container,
.stars {
  width: 100%;
  box-sizing: border-box;
}
.rating-inputs-container {
  display: flex;
  flex-direction: column;
}
.rating-radio-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.add-review input[type="radio"] {
  margin: 0 5px 0 0;
}
.rating-dynamic-cmp-container {
  align-content: center;
  width: 50%;
  height: 50px;
}
.rating-dynamic-cmp-container select {
  width: 100%;
}
.add-review button {
  display: flex;
  justify-self: center;
  margin-block: 20px;
}

/* Stars bonus */

.stars {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  cursor: pointer;
  padding-block-end: 4px;
}
.star {
  color: lightslategrey;
  transition: color 0.2s;
}
.star.filled {
  color: gold;
}
