.book-preview {
  display: grid;
  width: 400px;
  grid-template-rows: 1fr 4fr 1fr 1fr 6fr;
  grid-template-areas:
    "title"
    "description"
    "price"
    "is-on-sale"
    "image-container";
  text-align: center;
  padding-inline: 20px;
  background-color: aliceblue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.preview-title {
  grid-area: title;
  text-decoration: underline;
}
.preview-description {
  grid-area: description;
}
.preview-price {
  grid-area: price;
}
.preview-is-on-sale {
  grid-area: is-on-sale;
}
.preview-image-container {
  grid-area: image-container;
}
.book-preview img {
  width: 250px;
  border: 1px solid black;
}
