.review-preview {
  position: relative;
  background-color: aliceblue;
  border-radius: 4px;
  border: 1px solid black;
  margin-block-end: 12px;
}
.review-preview h3 {
  margin-block-start: 0;
}
.review-preview button {
  position: absolute;
  inset: -1px -8px auto auto;
  margin-block-start: 0;
}
